/* Buttons */
.button{
  background-color: #F46A35;
  line-height: 1.5;
  color: #fff;
  padding: 13px 32px;
  text-align: center;
  border-radius: 10px;
  transition: all 0.5s;
  display: inline-block;
}
.button:hover{
  color: #fff;
  background-color: #bf4819;
}
.button--white{
  background-color: #fff;
  color: #000000;
  padding: 13px 22px;
}
.button--white:hover{
    color: #fff;
    background-color:#bf4819 ;
}
.button--long{
    padding: 7px 26px;
    color: #fff;
    background-color: #F46A35;
}
.button--long:hover{
    background-color: #bf4819;
    color: #fff;
}
.button--transparent{
    background-color: transparent;
    color: #fff;
    padding: 13px 41px;
    border: 1px solid #fff;
}
.button--transparent:hover{
  background-color: transparent;
  text-decoration: underline;
}
.button--transparent--black:hover{
  background-color: transparent;
  text-decoration: underline;
  color: #000;
}
.button--transparent--black{
    background-color: transparent;
    color: #000000;
    padding: 12px 41px;
    border: 1px solid #000000;
}
.button--transparent--long{
  background-color: transparent;
    padding: 13px 21px;
    color: #000000;
    border: 1px solid #000000;
}
.button--transparent--long:hover{
    background-color: #000000;
    color: #fff;
}
.link-span span{
  position: relative;
  display: inline-block;
	line-height: 1.4;
}
.link-span span::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  transition: all 0.5s;
  left: 0;
  bottom: 0;
  background-color:#F46A35;
}
.link-span:hover span::after{
  width: 100%;
}
